#content-form {
    background-color: white;
    border-radius: 30px;
}

.navbar-brand {
    width: 821px;
}

.square {
    height: 250px;
    width: 250px;
}

#submitImage {
    border-radius: 25px;
    background-color: var(--footer-color);
    width: 150px;
}