@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1 {
    font-size: 45px;
    width: 700px;
}

#signin {
    background-color: var(--main-color);
}

#QCian {
    background-color: white;
    color: var(--main-color) !important;
}

#signin,
#QCian {
    font-size: 30px;
    width: 400px;
    padding: 15px 15px 15px 40px;
}

#content {
    gap: 20px;
}

#content-buttons {
    margin: 10px;
}

.dancing-script-header-description {
    color: yellow;
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

#beside_grid {
    gap: 60px;
}