@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #010641;
  --secondary-color: #4351a2;
  --qcian: #F7F7F7;
  --brown: #A08048;
}

body {
  font-family: "Poppins", sans-serif;
}

/* hamburger */
hr {
  color: var(--secondary-color);
  width: 75%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
  width: 40px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  padding: 6px;
  z-index: 1010;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
  transition: transform 0.5s ease;
}

.hamburger.active {
  border: 0;
}

.hamburger.active .bar1 {
  transform: rotate(-45deg) translate(-4px, 10px);
  background-color: white;
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  transform: rotate(45deg) translate(-4px, -10px);
  background-color: white;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-menu ul {
  width: 40%;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu ul>li>a {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
}

.nav-menu ul>li>a:hover {
  color: white;
}

.nav-menu.active {
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s ease;
  transform: translateX(0);
}

/* ----------------------------------------- */
.has-submenu:hover .submenu,
.has-submenu2:hover .submenu2,
.has-submenu3:hover .submenu3,
.has-submenu4:hover .submenu4,
.has-submenu5:hover .submenu5,
.has-submenu6:hover .submenu6,
.has-submenu7:hover .submenu7,
.has-submenu8:hover .submenu8,
.has-submenu9:hover .submenu9 {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.submenu,
.submenu2,
.submenu3,
.submenu4,
.submenu5,
.submenu6,
.submenu7,
.submenu8,
.submenu9 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: var(--main-color);
  padding: 10px;
  transition: transform 0.5s ease;
  transform: translateX(-10%);
  left: 475px;
}

.submenu {
  width: 30% !important;
  top: 215px;
}

.submenu>hr {
  width: 90%;
}

.submenu2 {
  width: 80% !important;
  top: 210px;
  left: 380px;
}

.submenu3 li {
  height: 15px;
}

.submenu3,
.submenu5 {
  top: 140px;
}

.submenu6,
.submenu7,
.submenu8,
.submenu9 {
  width: 100% !important;
  left: 425px;
}

.submenu8 {
  top: 0px;
}

.submenu9 {
  top: 100px;
}

.submenu6 {
  top: 215px;
}

.submenu7 {
  top: 310px;
}

.submenu4 {
  top: 290px;
}

/* end of hamburger */

/* navbar */
nav {
  background-color: white;
  background-image: url(./images/QORA\ -\ BANNER.png);
  background-size: 700px 120px;
  background-position: 50% -350%;
  background-repeat: no-repeat;
}

.nav_signin {
  background-color: var(--main-color);
  border-radius: 17px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 5px 5px var(--secondary-color);
  animation: shadows 1.5s infinite;
}

.border-primary {
  border-color: #A08048 !important;
}

@keyframes shadows {
  50% {
    text-shadow: var(--main-color) 0 0 5px;
    box-shadow: 0px 0px 5px 5px var(--main-color);
  }

  100% {
    text-shadow: var(--secondary-color) 0 0 5px;
    box-shadow: 0px 0px 5px 5px var(--secondary-color);
  }
}

/* end of navbar */

/* footer */
h2 {
  font-size: 25px;
}

.footer {
  background-color: var(--main-color);
}

.address,
.form,
.navigation {
  width: 50%;
}

.form-grid {
  margin: 0;
}

.submit_message {
  color: var(--brown);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  background-color: #A08048;
  margin-bottom: 0;
}

/* end of footer */